<ion-header-bar class="bar-dark">
    <h1 class="title">Map</h1>
</ion-header-bar>
<ion-content>
    <div id="map" data-tap-disabled="true"></div>
</ion-content>
<ion-footer-bar class="bar-dark">
    <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
</ion-footer-bar>

<style>
    #map {
        width: 100%;
        height: 100%;
    }
    
    .scroll {
        height: 100%;
    }
</style>