<ion-view view-title="Add Symptons" id="create-log-view">
  <ion-content>
    <form ng-submit="submit()">
        <div class="main-content-area padding">
          <div class="list">
            <label class="item item-input item-floating-label">
              <span >Type</span>
              <input required type="text" ng-model="logData.symptom" placeholder="I have a">
            </label>
            <label class="item item-input item-floating-label">
              <span >Where</span>
              <input required type="text" ng-model="logData.affected_area" placeholder="on my">
            </label>
          </div>
        </div>
        <div class="person-area padding">
          <div class="list">
            <label class="item item-input item-floating-label">
              <span >Person</span>
              <input required type="text" ng-model="logData.person" placeholder="Who is infected">
            </label>
            <label class="item item-input item-floating-label">
              <span >Description</span>
              <input required type="text" ng-model="logData.description" placeholder="itches, burn, swollen">
            </label>
          </div>
        </div>
        <div class="image-uploader padding">
          <div class="text-center">
              <button class="button icon ion-camera" ng-click="openFileDialog()">
              </button>
          </div>
        </div>
        <input type="file" id="file" name="photo" style="display: none"/>
        <div align="center">
          {{fileName}}
        </div>
        <div class="text-center padding">
            <button class="button button-block button-balanced" type="submit">
              Submit
            </button>
            <button class="button button-block button-calm" type="submit" ng-click="reset()">
              Add Another
            </button>
            <a class="button button-block button-assertive" type="submit" href="#/app/logs">
              Cancel
            </a>
        </div>
  </form>
  </ion-content>
</ion-view>