<ion-view view-title="My Symptoms" id="logs-view">
  <ion-content>
    <style>
        ion-header-bar.bar-header{
            background: #e8e000 !important;
        }
    </style>
    <dic class="user-well-being">
        <div class="row">
            <div class="col col-25">
                <div class="last-week">
                    <span>Last <br/> Week</span>
                </div>
            </div>
            <div class="col col-50">
                <div class="current-week {{profile.status_id}} ">
                    <span  ng-if="profile.status_id == 'better'" >
                        Getting <br/> Better
                    </span>
                    <span  ng-if="profile.status_id == 'sick'" >
                        You're <br/> just sick
                    </span>
                    <span  ng-if="profile.status_id == 'recovered'" >
                        Fully <br/> Recovered
                    </span>
                </div>
            </div>
            <div class="col col-25">
                <div class="next-week">
                    <span>Likely <br/> Better</span>
                </div>
            </div>
        </div>
    </dic>
    <div class="list padding" ng-repeat="log in logs">

      <div class="item item-margin-bottom symptom-item" ng-repeat="symptom in log.daily_symptoms" >
          <div class="row">
              <div class="col col-75">
                  {{symptom.symptom}}
                  <br/>
                  <label class="tag" ng-repeat="tag in symptom.description" >
                    {{tag}}
                  </label>
              </div>
              <div class="col">
                <ion-checkbox ng-clicked="updateSymptomp(this, {{log.id}}, '{{symptom.symptom}}')" ></ion-checkbox>
<!--                  <input type="checkbox" name="symptom-id-{{symptom.id}}" log-id="{{log.id}}" symptom-id="{{symptom.id}}" ng-checked="updateSymptom(this, {{log.id}}, {{symptom.id}})" />-->
              </div>
            </div>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer add-symptoms">
    <a ref="#/app/createlog/" class="button icon ion-plus pull-right" ></a>
  </div>
</ion-view>