/* Empty. Add your own CSS if you like */
ion-header-bar.bar-header{
    color: white !important;
    border: none;
}

input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}

.padding{
    padding: 30px 40px !important;
}

.item-margin-bottom{
    margin-bottom: 20px;
}

.symptom-item{
    background: rgb(250, 250, 250);
}
.symptom-item .item-checkbox{
    background: none;
    border: none;
}
.symptom-item .tag{
    background: #999;
    display: inline-block;
    margin-right: 10px;
    padding: 2px 10px;
    border-radius: 10px;
    color: white;
    font-weight: 400;
}

#create-log-view .main-content-area{
    color: white !important;
    background: #993399;
    box-shadow: 0 2px 5px #999;
}

#create-log-view label{
    border: none !important;
    font-size: 9pt;
}

#create-log-view .main-content-area label{
    color: rgba(255,255,255,0.5);
}

#create-log-view ::-webkit-input-placeholder{
    color: white;
    font-size: 14pt;
}

#create-log-view .person-area label{
    color: black;
}


#create-log-view input{
    border-bottom: 1px solid rgba(255,255,255,0.3);
}


#create-log-view{
    background: #66CCCC;
    color: black !important;
    font-weight: bold;
}

#create-log-view .image-uploader img{
    height: 250px;
}

#create-log-view .button.icon.ion-camera{
    width: 100%;
    height: 250px;
}

#logs-view .bar-footer.add-symptoms{
    bottom: 30px;
    left: -20px;
}

#logs-view .user-well-being .row{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background: #e8e000;
}

#logs-view .last-week, #logs-view .next-week{
    padding-top: 20px;
}

#logs-view .last-week span{
    background: #990000;
    color: white;
    display: inline-block;
    border-radius: 100px;
    border: 2px solid white;
    height: 80px;
    width: 80px;
    text-align: center;
    padding-top: 20px;
    position: relative;
    z-index: 1000;
}

#logs-view .current-week span{
    background: #DBD400;
    color: white;
    display: inline-block;
    border-radius: 100px;
    height: 120px;
    width: 120px;
    border: 2px solid white;
    text-align: center;
    padding-top: 40px;
    position: relative;
    z-index: 1000;
}

#logs-view .next-week span{
    background: #009900;
    color: white;
    display: inline-block;
    border-radius: 100px;
    height: 80px;
    width: 80px;
    border: 2px solid white;
    text-align: center;
    padding-top: 20px;
    position: relative;
    z-index: 1000;
}

#logs-view .current-week:after{
    content: "";
    display: inline-block;
    height: 3px;
    background: white;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 12.5%;
}

#logs-view .next-week:after{
    content: "";
    display: inline-block;
    height: 3px;
    background: white;
    width: 10%;
    position: absolute;
    top: 12.5%;
    left: 90%;
}

#logs-view .last-week:after{
    content: "";
    display: inline-block;
    height: 3px;
    background: white;
    width: 10%;
    position: absolute;
    top: 12.5%;
    left: 0;
}

#logs-view .bar-footer.add-symptoms button{
    border-radius: 60px;
    margin-bottom: 50px;
    margin-right: 20px;
    background: blue;
    color: white;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px #999;
}